<section class="breadcrumbs-section">
    <div class="breadcrumbs-header">
        <h2>Breadcrumbs</h2>
    </div>
    <div class="breadcrumbs-content">
        {% markdown %}
        {% include 'breadcrumbs.md' %}
        {% endmarkdown %}
    </div>
</section> 