<section class="inspiration-section">
    <div class="inspiration-header">
        <h2>Current inspiration</h2>
    </div>
    <div class="inspiration-content">
        {% markdown %}
        {% include 'inspiration.md' %}
        {% endmarkdown %}
    </div>
</section> 