.contact-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-right: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    transition: opacity 0.2s ease-in-out;
}

.contact-icon {
    width: 1.1em;
    height: 1.1em;
    vertical-align: middle;
    margin-right: 0.5em;
}

.contact-link:hover {
    opacity: 0.6;
} 