---
layout: base
---

<div class="bio-card">
    {% markdown %}
    {% include 'bio.md' %}
    {% endmarkdown %}
</div>
<img src="/assets/icons/snake_long.svg" alt="Decorative snake separator" class="snake-separator">
<div class="thoughts-breadcrumbs-container">
    {% include 'components/breadcrumbs' %}
    {% include 'components/thoughts-carousel' %}
</div>