---
layout: base
---

<div class="bio-card">
    {% markdown %}
    {% include 'bio.md' %}
    {% endmarkdown %}
</div>
<div class="thoughts-inspiration-container">
    {% include 'components/thoughts-carousel' %}
    {% include 'components/current-inspiration' %}
</div>